---
import Layout from '../../layouts/Layout.astro';
import InnerHero from '../../components/sections/InnerHero.astro';
import DashboardForm from '@components/forms/DashboardForm.astro';

const seoTitle = "Actas | JMF Ortiz";
const seoDescription = "Servicios de la administraci칩n de fincas en Torrej칩n de Ardoz con m치s de 40 a침os de experiencia. Presupuesto gratuito y sin compromiso.";

const heroContent = {
    title: "Actas",
    description: "Comunidades de vecinos",
}
---

<div id="hidden" class="hidden">
<Layout title={seoTitle} description={seoDescription}>
    <InnerHero content={heroContent}  />
        <DashboardForm />

    </Layout>
</div>

<script>
    const hiddenDiv = document.querySelector('#hidden') as HTMLDivElement;
    if(!localStorage.getItem('rpg_auth_token') && !localStorage.getItem('rpg_user_data')){
        hiddenDiv.classList.add('hidden');
        window.location.href = '/login';
    }
    const API_BASE = 'https://auth-service-eight-mocha.vercel.app/api';


    const token = localStorage.getItem('rpg_auth_token');

    const response = await fetch(`${API_BASE}/profile.js`, {
            headers: {
                'Authorization': `Bearer ${token}`
            }
        });

    if (!response.ok) {
        window.location.href = '/login';
    }
    hiddenDiv.classList.remove('hidden');


</script>
